---
name: project
resource: Transactable
configuration:
  name:
    validation: { presence: true }
  description:
    validation:
      presence: true
  properties:
    deadline:
      validation:
        presence: true
    workplace_onsite:
    workplace_online:
    budget:
      validation:
        presence: true
---
{% form %}
  <label for="name">Name</label>
  <input name="{{ form_builder.fields.name.name }}" value="{{ form_builder.fields.name.value }}" id="name" type="text">
  {% if form_builder.errors.name %}
    <p>{{ form_builder.errors.name }}</p>
  {% endif %}

  <label for="description">Description</label>
  <textarea name="{{ form_builder.fields.description.name }}" id="description">{{ form_builder.fields.description.value }}</textarea>
  {% if form_builder.errors.description %}
    <p>{{ form_builder.errors.description }}</p>
  {% endif %}

  <label for="workplace_online">Workplace online</label>
  <input value="0" name="{{ form_builder.fields.properties.workplace_online.name }}" type="hidden">
  <input value="1" name="{{ form_builder.fields.properties.workplace_online.name }}" id="workplace_online" type="checkbox" {% if form_builder.fields.properties.workplace_online.value %}checked{% endif %}>

  <label for="workplace_onsite">Workplace onsite</label>
  <input value="0" name="{{ form_builder.fields.properties.workplace_onsite.name }}" type="hidden">
  <input value="1" name="{{ form_builder.fields.properties.workplace_onsite.name }}" id="workplace_onsite" type="checkbox" {% if form_builder.fields.properties.workplace_onsite.value %}checked{% endif %}>

  <label for="budget">Budget</label>
  <input name="{{ form_builder.fields.properties.budget.name }}" value="{{ form_builder.fields.properties.budget.value }}" id="budget" type="text">

  <label for="deadline">Deadline</label>
  <input placeholder="YYYY-mm-dd" name="{{ form_builder.fields.properties.deadline.name }}" value="{{ form_builder.fields.properties.deadline.value }}" id="deadline" type="text">
  {% if form_builder.errors['properties.deadline'] %}
    <p>{{ form_builder.errors['properties.deadline'] }}</p>
  {% endif %}

  <button>Save</button>
{% endform %}